<html>
    <head>
        <title>PERSONALITY TESTER</title>
    </head>
    <body>
        <h1>THIS APP WILL GIVE YOUR PERSONALITY A SCORE OUT OF TEN.</h1>
        <p> Are you ready?</p>
        <form method = "post" action = "/results"
          <p>Are you a nice person?</p>
            <input type="text" name="question1"/>

            <p>Are you a good friend?</p>
              <input type="text" name="question2"/>

              <p>Are you nice to your parents?</p>
                <input type="text" name="question3"/>

                <p>Are you a pessimist?</p>
                  <input type="text" name="question4"/>

                  <p>Do do you judge people by their looks?</p>
                    <input type="text" name="question5"/>
                    <input type="submit" value="Submit"/>
        </form>

    </body>
</html>
